/* start about styles */ 

#about_section {
    .page_width {
        padding-top: 170px;
        padding-bottom: 50px;

        &::before {
            content: '';
            position: absolute;
            width: 84.5%;
            height: 145px;
            top: 125px;
            left: auto;
            right: auto;
            margin-left: 75px;
            background: url(images/bg_abot_text.png) no-repeat center / 100% auto;
        }
    }

    .text {
        position: relative;
        max-width: 650px;
        width: 50%;
        padding-bottom: 30px;
        //background-color: #fff;
        float: left;

        &::before {
            content: '';
            position: absolute;
            width: 209px;
            height: 209px;
            bottom: -3px;
            left: -76px;
            background: repeating-linear-gradient(-45deg, #EFEFEF, #EFEFEF 4px, transparent 0px, transparent 18px);
        }

        p {
            position: relative;
        }

        .button {
            margin-top: 49px;
        }
    }
}

.important_numbers {
    margin-left: 50%;
    margin-bottom: -75px;
    padding-top: 120px;
    padding-bottom: 94px;
    padding-right: 15%;
    padding-left: 15px;
    background: url(images/about_logo.png) no-repeat right center;

    .item {
        display: inline-block;
        vertical-align: top;
        width: 150px;
        padding-left: 30px;
        padding-bottom: 30px;
        margin-right: 62px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 16px;

        &::before {
            content: '';
            position: absolute;
            width: 53px;
            height: 53px;
            top: 48px;
            left: 0px;
            background: repeating-linear-gradient(-45deg, #DBDBDB, #DBDBDB 2px, transparent 0px, transparent 5px);
        }

        .num {
            position: relative;
            font-weight: 700;
            font-size: 50px;
            line-height: 40px;
            color: #77CA00;
            display: block;
            margin-bottom: 20px;
        }

        p {
            position: relative;
        }
    }
}


#about_page_main {
    padding-top: 130px;
    background: no-repeat center / cover;

    .page_width {
        padding-bottom: 64px;
    }
    .text {
        //width: 50%;  
        margin-top: 60px;
		max-width: 880px;
		box-sizing: border-box;
		position: relative;
		padding: 60px 60px;
		z-index: 2;
		color: #fff;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(10px);
		border-radius: 5px;
		display: inline-block;
    }
    .h1 {
		margin-bottom: 15px;
    }
    p {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 40px;
    }
}

#about_page_main + #about_section {
    .page_width {
        padding-top: 67px;
        padding-bottom: 55px;

        &::before {
            top: 25px;
        }
    }
}

.grey_bg {
    //background: #F8F8F8;
    .page_width {
        padding-top: 100px;
        padding-bottom: 40px;
    }
}

.text_and_image {
    display: flex;
    align-items: center;
    padding-bottom: 65px;
    padding-top: 3px;
    margin-bottom: 35px;

    .image {
        width: 40.5%;
        min-width: 40.5%;
        margin: 0 30px 0px 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 209px;
            height: 209px;
            bottom: -55px;
            left: -60px;
            background: repeating-linear-gradient(-45deg, #77CA00, #77CA00 4px, transparent 0px, transparent 18px);
        }

        img {
            max-width: 100%;
            vertical-align: auto;
        }

    }
    .text {
        .button {
            margin-top: 50px;
        }
    }
}


@media screen and (max-width: 1500px) {
    
}
@media screen and (max-width: 1300px) {
    
}

@media screen and (max-width: 1030px) {
    
}

@media screen and (max-width: 800px) {
     
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {

}

/* end about styles */