/* start advantages styles */ 

#advantages {
    background: #F8F8F8;
    .page_width {
        padding-top: 105px;
        padding-bottom: 50px;
    }
}

.advantages_container {
    margin: 0 -14px;
    overflow: hidden;
    clear: both;
    display: flex;
    justify-content: space-around;
    padding: 0 0px 10px 0px;

    .slick-list {
        //padding: 14px 0 10px;
        //margin: 0 -14px;
        overflow: visible;
    }
    .item {
        position: relative;
        //padding: 0px 0px 10px 0px;
        margin: 0px 0px 30px;
        width: 190px;
        //height: 316px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        //opacity: 0;
        text-align: center;
        @include transition(all);
        
        .icon {
            margin-bottom: 30px;
            height: 170px;
        }
        .text {
            //margin: 0 15px;
            padding: 10px 2px;
            min-height: 65px;
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                width: 68px;
                height: 68px;
                top: -3px;
                left: -3px;
                background: repeating-linear-gradient(-45deg, #DBDBDB, #DBDBDB 2px, transparent 1px, transparent 6px);
            }
        }
        p {
            margin-bottom: 0;
            position: relative;
            z-index: 1;
        }
    }

}

@media screen and (max-width: 1500px) {
    
}
@media screen and (max-width: 1300px) {
    
}

@media screen and (max-width: 1030px) {
    
}

@media screen and (max-width: 800px) {
     
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {

}

/* end advantages styles */