.breadcrumbs{
    margin: 0px 0 60px;
    font-size: 14px;
    line-height: 16px;
    li{
        display: inline-block;

        a{
            color: $color_text;
            font-weight: 400;
    
            &::after{
                content: "/";
                margin-left: 4px;
            }
        }
    }
    .active{
        opacity: 40%;
    }
}
@media screen and (max-width:600px){
    .breadcrumbs{
        margin: 0px 0 30px;
    }
}

//Start Contact// 
.contacts_block {
    position: relative;
    .text{
        position: relative;
        margin-left: 41.2%;
        padding-top: 33px;
        margin-bottom: -70px;

        &::before {
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            top: 0px;
            left: -110px;
            background: repeating-linear-gradient(-45deg, #EFEFEF, #EFEFEF 4px, transparent 0px, transparent 18px);
        }
        &::after{
            content: '';
            width: 230px;
            height: 225px;
            position: absolute;
            top: 10px;
            right: 0;
            background-image: url(images/about_logo.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        h2{
            padding: 0 0 7px 20px;
            position: relative;
            z-index: 1;
        }
        .contacts{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 1;
        }
        .cont{
            margin: 0px 20px 30px;
            a, p.address{
                color: $color_text;
                &:before{
                    filter: none;
                }
            }

            .btn_call {
                color: $color_a;

                &:hover {
                    text-decoration: none;
                    border-color: transparent;
                }
            }

            &:nth-child(4){
                width: 400px;
            }
        }
        .social{
            margin: 0px 0px 30px 40px;
        }
    }
}
#map{
    width: 100%;
    height: 650px;
    margin: 0px 0px 100px;
    position: relative;

    div {
        width: 100%;
        height: 100%;
    }

    iframe{
        width: 100%;
        height: 100%;
    }
}
    

.min_forms{
    position: absolute;
    z-index: 1;
    width: 490px;
    padding: 40px 60px 40px;
    border-radius: 5px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
    top: 0;

    h2 {
        margin-bottom: 10px;
        line-height: 30px;
    }

    p{
        margin-bottom: 30px;
        font-weight: 300;
    }

    .textarea {
        margin-left: 10px;
        margin-bottom: 37px;

        textarea{
            height: 90px;
        }
    }

    .input_text {
        width: calc(100% - 20px);
        float: none;
        margin-bottom: 20px;
    }

    input[type=checkbox]:not(checked) + label {
        margin-bottom: 40px;
    }

    label a{
        color: #FFF;
    }

    .input_file {
        margin-right: 20px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .input_personal_info{
        padding-top: 0px;
        float: none;
    }

    .buttons{
        float: none;
        text-align: center;
        margin-top: 26px;
        margin-bottom: 0;
    }
}


@media screen and (max-width:1500px){
    .contacts{
        //width: 425px;

        &::before{
            left: -60px;
        }
    }
}
@media screen and (max-width:1500px){
    .min_forms{
        width: 450px;
    }
}
@media screen and (max-width:1200px){
    .contacts{
        &::before{
            left: -30px;
        }
        &::after{
            width: 200px;
            height: 195px;
        }
    }
    .min_forms{
        width: 400px;
        padding: 20px 30px 40px;
    }
}
@media screen and (max-width:1030px){
    .contacts{
        //width: 45%;
        &::before{
            bottom: 0px;
        }
        &::after{
            width: 150px;
            height: 145px;
        }
    }
    .contacts_block .text {
        margin-left: 330px;
        padding-top: 33px;
        margin-bottom: -50px;

        .cont {
            margin: 0px 0px 30px 0;
            width: 100%;
        }
    }
    .min_forms{
        width: 300px;
        padding: 20px 20px 10px;
        input[type=checkbox]:not(checked) + label {
            margin-bottom: 10px;
        }
    }

    #map{
        height: 500px;
        margin-bottom: 60px;
    }
}
@media screen and (max-width:800px){
    .contacts_block .text::after {
        display: none;
    }
}

@media screen and (max-width:600px){
    .contacts_block {
        .text {
            margin-left: 0px;
            padding-top: 0px;
            margin-bottom: 0px;
        }
    }

    #map{
        height: 300px;
        margin-bottom: 40px;
    }

    .min_forms {
        position: relative;
        width: auto;
    }
}
@media screen and (max-width:500px){
    .contacts{
        &::before{
            height: 350px;
            bottom: 5px;
        }
    }
    .min_forms{
        padding-right: 30px;
        padding-left: 30px;
    }
}
//End Contact//