/* start directions styles */ 

#directions {
    background: #191518 url(images/bg_directions.jpg) no-repeat center / cover;
    .page_width {
        padding-top: 105px;
        padding-bottom: 76px;
        color: #fff;
    }

    .all_link {
        color: #fff;
    }
}

.directions_container {
    margin: 0 -15px;
    //overflow: hidden;
    clear: both;
    //display: flex;
    //justify-content: space-between;
    text-align: center;
    //padding: 0 8.52% 10px;

    .slick-list {
        //padding: 14px 0 10px;
        //margin: 0 -14px;
        overflow: visible;
    }

    a {
        color: #fff;
    }
    .item {
        position: relative;
        //padding: 0px 0px 10px 0px;
        margin: 0px 15px 60px;
        width: calc(50% - 34px);
        max-width: 620px;
        height: 500px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        //opacity: 0;
        text-align: center;
        z-index: 1;
        @include transition(all);
        //transition-delay: 0.2s;

        &:first-child {
            left: 0;
        }
        &:last-child {
            right: 0;
        }
        
        .image {
            margin-bottom: 22px;
            height: 500px;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            z-index: 1;

            &::before {
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                @include transition(all);
                background: radial-gradient(73.8% 73.8% at 50% 33.8%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.539) 100%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .name {
            position: relative;
            @include transition(all);
            top: 0;
            pointer-events: none;
        }
        .direction_menu {
            background: #191518;
            position: absolute;
            //z-index: 2;
            box-sizing: border-box;
            overflow: hidden;
            top: 0;
            left: 0%;
            width: 85%;
            height: 500px;
            padding: 60px 8% 60px 8%;
            text-align: left;
            @include transition(all);
            //transition-delay: 0.15s;

            h4 {
                margin-bottom: 27px;
            }

            ul {
                li {
                    margin-bottom: 14px;
                }

                a {
                    display: inline-block;
                    position: relative;
                    padding-left: 20px;
                    @include transition(all);

                    &::before {
                        content: '';
                        position: absolute;
                        top: 7px;
                        left: -1px;
                        width: 10px;
                        height: 10px;
                        box-sizing: border-box;
                        border-radius: 50%;
                        border: 1px solid $color_a;
                        @include transition(all);
                    }

                    &::after {
                        content: "";
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 21px;
                        width: 40px;
                        margin-right: -40px;
                        height: 10px;
                        position: relative;
                        @include transition(all);
                        background: url(images/arrow.svg) no-repeat right center;
                    }

                    &:hover {
                        color: $color_a;
                        text-decoration: none;
                        &::before {
                            background-color: $color_a;
                        }
                        &::after {
                            left: 2px;
                        }
                    }
                }
            }
        }

        &:hover {
            z-index: 5 ;
            .image {
                &::before {
                    opacity: 0;
                }
            }
            .name {
                top: -200px;
            }
            
            &:first-child {
                left: -8.52%;
                .direction_menu {
                    left: 100%;
                    border-radius: 0px 5px 5px 0px;
                }
            }
            &:last-child {
                right: -8.52%;
                .direction_menu {
                    left: -85%;
                    border-radius: 5px 0 0 5px;
                }
            }
        }
    }

}

.directions_slider {
    padding-bottom: 50px;

    .slick-list {
        margin: 0 -15px;
    }

    &.directions {
        margin-bottom: 102px;
        margin-right: 0;
        margin-left: 0;
        .item {
            margin-bottom: 0;
        }
    }
}



@media screen and (max-width: 1550px) {
    .directions_container {
        .item{
            &:hover {
                &:first-child {
                    left: -3.5%;
                }
                &:last-child {
                    right: -3.5%;
                }
            }
            .direction_menu {
                padding: 60px 5% 60px 5%;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .directions_container {
        .item{
            &:hover {
                &:first-child {
                    left: 0;
                }
                &:last-child {
                    right: 0;
                    .direction_menu {
                        left: -100%;
                    }
                }
            }
            .direction_menu {
                padding: 50px 30px 50px 30px;
                width: 100%;
                ul a::after {
                    width: 20px;
                    margin-right: -30px;
                }
            }
        }
    }
}

@media screen and (max-width: 1030px) {
    #directions .page_width {
        padding-top: 50px;
        padding-bottom: 26px;
    }
    .directions_slider.directions {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    #directions {
        background-position: left center;
    }
    .directions_container {
        .item {
            width: calc(100% - 30px);
            overflow: hidden;
            margin-bottom: 30px;
            height: 430px;

            .image {
                height: 400px;
                margin-bottom: 10px;
            }

            .direction_menu {
                left: -100%;
                z-index: 3;
                background: rgb(25, 21, 24, 0.9);
                padding-left: 15px;
                height: 400px;
            }

            &:hover {
                &:first-child, &:last-child {
                    .direction_menu {
                        left: 0%;
                    }
                }
                
            }
        }
    }
}
@media screen and (max-width: 600px) {
    #directions .page_width {
        padding-top: 30px;
        padding-bottom: 1px;
    }
    .directions_container .item .direction_menu {
        padding-top: 20px;
    }
    .directions_slider.directions {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .directions_slider {
        padding-bottom: 50px;
    
        .slick-list {
            margin: 0 0px;
        }
    }
}

//start directions page//
.directions{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
    .item{
        margin: 0 15px 30px;
        width: calc(25% - 30px);
       
        .img{
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            height: 420px;
            
            a{
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                display: block;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    background-image: radial-gradient(64.37% 64.37% at 50% 35.63%, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.21) 0.01%, rgba(0, 0, 0, 0.7) 100%), url(zakladanie-ogrodow-Gliwice-Slask-4.jpg);
                    @include transition(all);
                }

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                .more{    
                    position: absolute;
                    left: 50%;
                    margin-left: -70px;
                    bottom: -30px;
                    color: #FFF;
                    @include transition(all);
    
                    &:after{
                        content: "";
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 21px;
                        width: 40px;
                        height: 10px;
                        position: relative;
                        filter: brightness(0.5) contrast(300%) invert(1);
                        background: url(images/arrow.svg) no-repeat right center;
                    }
    
                    
                }
            }
        }

        .text{
            background-color: #FFF;
            text-align: center;
            font-weight: 500;
            a {
                display: block;
                color: $color_text;
                min-height: 54px;
                padding-top: 20px;

                &:hover {
                    text-decoration: none;
                    color: $color_a;
                }
            }
        }

        

        &:hover{
            .img a {
                &::before {
                    opacity: 100%;
                }
                
                .more{
                    bottom: 60px;
                }
            }
            a {
                color: $color_a;
            }
        }
    }
}
@media screen and (max-width:1300px){
    .directions .item{
        .img {
            height: 320px;
        }
    }
}
@media screen and (max-width:1030px){
    .directions .item{
        width: calc( 33% - 30px);
    }
}
@media screen and (max-width:800px){
    .directions .item{
        width: calc( 50% - 30px);
    }
}
@media screen and (max-width:500px){
    .directions {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        .item{
            width:100%;
            margin: 0 0px 30px;
            .img {
                height: 250px;
            }

            .text a {
                padding-top: 10px;
                min-height: auto;
            }
        }
    }
}
@media screen and (max-width:400px){
    .directions {
        .item{
            .img {
                height: 200px;
            }
        }
    }
}
//end directions page//

//start direction_ditails//
.icon_bg{
    position: relative;
    &::after{
        content: '';
        width: 360px;
        height: 360px;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(images/about_logo.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text_and_image{
        position: relative;
        z-index: 1;
    }

    &.text_block {
        margin-bottom: -30px;
    }
}
.middle{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 55px;
}

.other_directions{
    margin-top: 100px;
    padding-bottom: 12px;
}

.top_gallery {
    margin-bottom: 40px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 209px;
        height: 209px;
        bottom: -80px;
        right: -60px;
        background: repeating-linear-gradient(-45deg, #FFF500, #FFF500 4px, transparent 0px, transparent 18px);
    }

    .images_slider {
        margin: 0;
        padding: 0;
        border-radius: 5px;
        overflow: hidden;

        .slick-list {
            margin: 0;
        }
    }

    .counter_slider {
        position: absolute;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(3px);
        border-radius: 0px 0px 5px 0px;
        width: 230px;
        padding: 40px 0 40px 60px;
        //text-align: center;
        .slick-list {
            margin: 0;
        }
    }
}
main{
    h2 + .text_and_image {
        padding-top: 20px;
    }
}

.gallery_slider {
    padding-top: 5px;

    .slick-list {
        margin: 0 -15px;
    }

    .slick-arrow {
        top: -63px;
        left: auto;
        margin: 0;
        height: 20px;

        &::before {
            width: 16px;
            height: 16px;
            top: 3px;
        }
    }

    .slick-prev {
        right: 34px;
    }
    .slick-next {
        right: 0px;
    }

    .item {
        position: relative;
        height: 380px;
        overflow: hidden;
        margin: 0 15px;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.video {
            &::before {
                background-size: 180px 180px;
            }
        }
    }
}


//end direction_ditails//

/* end directions styles */