 /* start header styles */

#header.scroll {
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.21);
	background-color: #fff;

	.page_width {
		z-index: 1;
		padding-top: 10px;
		padding-bottom: 10px;
    }
}

#header {
    width: 100%;
	position: fixed;
	margin-bottom: 30px;
	top: 0;
	left: 0;
    z-index: 3;
	//background-color: #fff;
	@include transition(all);


    .page_width {
		z-index: 1;
		padding-top: 30px;
		padding-bottom: 30px;
		@include transition(all);
    }
}

#logo {
	width: 250px;
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 25px;
	float: left;
	position: relative;
	z-index: 1;
	
	a {
	    @include transition(opacity);
	}
        
        a:hover {
            opacity: 0.9;
        }
	
	img {
		max-width: 100%;
		position: relative;
	}
}

#header_cont {
	float: right;
	text-align: right;
	max-width: 200px;
	padding-top: 10px;
	position: relative;
	z-index: 1;

	a {
		display: inline-block;
	}

	.tel {
		font-weight: 700;
		font-size: 18px;
		letter-spacing: 0.2px;
		margin-bottom: -2px;
		color: $color_text;

		&::before {
			content: '';
			display: inline-block;
			width: 25px;
			height: 25px;
			vertical-align: middle;
			margin-bottom: 4px;
			margin-right: 10px;
			background: url(images/icon_tel.png) no-repeat center / 100%;
		}
	}

	.btn_call {
		letter-spacing: 0.3px;
		color: $color_a;
		border-bottom: 1px dashed $color_a;

		&:hover {
			text-decoration: none;
			border-color: transparent;
		}
	}
}

.main_menu {
	font-size: 18px;
	line-height: 21px;
	margin: 25px 250px 13px 340px;

	a {
		color: $color_text;
	}

	ul {
		display: flex;
		justify-content: space-around;

		li {
			position: relative;
		}

		ul {
			display: none;
		}
	}
	

	.submenu {
		&::before {
			position: absolute;
			top: 99%;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
		}
		ul {
			display: block;
			position: absolute;
			top: 25px;
			left: -30px;
			//width: 300px;
			background: rgba(0, 0, 0, 0.6);
			backdrop-filter: blur(10px);
			border-radius: 5px;
			padding: 25px 30px;
			font-size: 16px;
			line-height: 24px;
			opacity: 0;
			pointer-events: none;
			@include transition(all);

			li {
				padding: 5px 0;
				white-space: nowrap;
			}

			a {
				color: #fff;
			}
		}

		&:hover {
			ul {
				opacity: 1;
				top: 40px;
				pointer-events: initial;
			}
		}
	}

}

#header.no_bg {
	//position: //absolute;
	background: none;
	#header_cont {
		.tel {
			color: #fff;

			&::before {
				//background-image: url();
				filter: brightness(0.5) contrast(300%) invert(1);
			}
		}
	}
	.main_menu {
		a {
			color: #fff;
		}
	}

	.menu_button {
		border-color: #fff;

		&::before {
			border-color: #fff;
		}
	}
}

#header.no_bg.scroll {
	background: #fff;
	#header_cont {
		.tel {
			color: $color_text;

			&::before {
				filter: none;
			}
		}
	}
	.main_menu {
		a {
			color: $color_text;
		}

		.submenu {
			ul a {
				color: #fff;
			}
		}
	}

	.menu_button {
		border-color: $color_a;

		&::before {
			border-color: $color_a;
		}
	}
}
#header + * { 
	padding-top: 130px;
}
#header.no_bg + * { 
	padding-top: 0px;
}
.menu_button {
	border-top: 3px solid $color_a;
	border-bottom: 3px solid $color_a;
	//border-radius: 3px;
	float: right;
	width: 40px;
	height: 24px;
	margin: 20px 0 0 30px;
	position: relative;
	&::before {
		content: '';
		width: 100%;
		top: 50%;
		border-top: 3px solid $color_a;
		margin-top: -2px;
		position: absolute;
	}

	&::after {
		content: '';
		position: fixed;
		width: calc(100% - 320px);
		height: 100%;
		top: 0;
		left: 0;
		display: none;
		//background-color: rgba(43, 64, 4, 0.5);
	}

	&.active {
		&::after {
			display: block;
		}
	}
}


@media screen and (max-width: 1300px) {	
	#header .page_width {
		padding-top: 15px;
	}
	.main_menu {
		margin: 25px 195px 13px 250px;
	}
}

@media screen and (max-width: 1030px) {	
	.menu_button {
		display: block;
		z-index: 2;
	}

	.main_menu {
		position: absolute;
		z-index: 0;
		width: 320px;
		height: 100vh;
		right: -100%;
		top: 0;
		padding: 115px 30px 0px;
		margin: 0;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(10px);
		box-sizing: border-box;
		@include transition(all);

		a {
			color: #fff;
		}

		ul {
			display: block;
			overflow-y: auto;
			max-height: 100%;
			li {
				margin-bottom: 20px;
			}
		}

		.submenu {
			&::before {
				display: none;
			}
			a::after {
				content: '';
				display: inline-block;
				position: relative;
				margin-left: 5px;
				border-top: 8px solid #fff;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				@include transition(all);
			}

			ul {
				position: relative;
				top: 0;
				left: 0;
				background: none;
				backdrop-filter: initial;
				padding: 10px 0 0px 10px;
				display: none;
				transition: none;

				li {
					white-space: initial;
					padding: 0;
					margin-bottom: 10px;

					a {
						&::after {
							display: none;
						}
					}
				}
			}

			&:hover ul {
				top: 0;
			}

			&.show {
				a::after {
					transform: rotate(-180deg);
				}
			}
		}
	}	
	#header.no_bg.scroll .main_menu a {
		color: #fff;
	}
}

@media screen and (max-width: 800px) {	
	#logo {
		width: 200px;
	}
	.menu_button {
		margin: 10px 0 0 15px;
	}
	#header_cont {
		max-width: 180px;
		padding-top: 0px;

		.tel {
			font-size: 16px;
			margin-bottom: -3px;
			line-height: 20px;
		}
		.btn_call {
			letter-spacing: 0.1px;
			font-size: 14px;
			line-height: 20px;
		}
	}
}

@media screen and (max-width: 500px) {
	#logo {
		width: 56px;
		overflow: hidden;

		img {
			width: 200px;
			max-width: none;
		}
	}
}

// @media screen and (max-width: 450px) {
	
// }
// @media screen and (max-width: 400px) {
	
// }

/* end header styles */
