/* start main screen styles */ 

#main_screen {
    overflow: hidden;
    //background: #162637 url(images/bg_main_screen.jpg) no-repeat left top / cover;
	//height: calc(100vh - 258px);
	//min-height: 100vh;
    //@include transition(all);
    
    //.page_width {
		//height: 100%;
		//padding-top: 130px;
	//}
}
    
.main_slider {
	.slick-list {
		margin: 0;
	}

	.item {
		position: relative;
		box-sizing: border-box;
	}
	.page_width {
		height: calc(100vh - 130px);
		min-height: 630px;
		padding-top: 130px;
	}
    .image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include transition(all);
		//opacity: 0.2;
		overflow: hidden;
		background: no-repeat center top / cover;
		
		// img {
		// 	width: 110%;
		// 	height: 110%;
		// 	object-fit: cover;
		// }
    }
    .text {
		//width: 50%;        
		min-width: 600px;
		max-width: 900px;
		box-sizing: border-box;
		position: relative;
		top: 19.3%;
		padding: 80px 60px;
		z-index: 2;
		color: #fff;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(10px);
		border-radius: 5px;
		display: inline-block;
    }
    .h1 {
		margin-bottom: 15px;
    }
    p {
		font-size: 22px;
		line-height: 25px;
		min-height: 65px;
		margin-bottom: 20px;
    }
    
    .button {
		// min-width: 173px;
		margin-bottom: 0px;
		// height: 50px;
		// line-height: 48px;
    }
}

.main_counter {
	position: absolute;
	bottom: 24.3%; //219px;
	left: 0;
	width: 100%;

}
.counter_slider {
	//display: inline-block;
	margin: 0 0px;
	padding: 0 0px;
	position: absolute;
	width: 200px;
	//background-color: rgba(255, 0, 0, 0.3);

	.slick-list {
		margin: 0 0px;
	}

	.item {
		color: #fff;
		font-size: 30px;
		margin-bottom: 15px;

		.main_slide_num {
			font-size: 30px;
			display: inline;

			&::after {
				content: '';
				display: inline-block;
				width: 3px;
				height: 30px;
				transform: rotate(19deg);
				background-color: #fff;
				vertical-align: middle;
				margin-left: 5px;
				margin-right: 5px;
				margin-top: -2px;
			}
		}
		.main_slide_quantity {
			font-size: 16px;
			display: inline;
		}
	}

	ul.slick-dots {
		text-align: left;
		li {
			margin: 0 10px 10px 0;

			&.slick-active {
				width: 70px;
			}
		}
	}
}


@media screen and (max-width: 1600px) {
	#main_screen {
		.text {       
			top: 13.3%;
		}
	}
}

@media screen and (max-width: 1300px) {
	#main_screen {
		.text {       
			top: 8%;
			padding: 60px 40px;
		}
	}
	.main_slider .page_width {
		height: calc(100vh - 115px);
		padding-top: 110px;
		min-height: 500px;
	}
	.main_counter {
		bottom: 120px;
	}
}

@media screen and (max-width: 1030px) {
	#main_screen {
		.text {       
			top: 0;
			padding: 40px 30px;
			min-width: auto;
			.button {
				margin-top: 0px;
			}
		}
	}
	.main_slider .page_width {
		min-height: 350px;
	}
	.main_slider p {
		font-size: 20px;
		line-height: 24px;
		min-height: 50px;
	}
	.main_counter {
		bottom: 80px;
	}
}
// @media screen and (max-width: 800px) {
    
// }

@media screen and (max-width: 600px) {
	.main_slider p {
		font-size: 16px;
		line-height: 24px;
	}
	#main_screen {
		.text {     
			margin-bottom: 120px;
			padding: 30px 20px;
		}
	}
	.main_slider .page_width {
		height: auto;
		min-height: calc(100vh - 115px);
	}
}

/* end main screen styles */