/* start our_work styles */ 

#our_work {
    background: #143F00 url(images/bg_our_work.jpg) no-repeat center top ;
    //margin-bottom: 104px;
    .page_width {
        padding-top: 103px;
        padding-bottom: 60px;
        color: #fff;
    }
}

.steps {
    position: relative;

    &:after {
		@include clear();
    }
}

.numbers_slider {
    position: relative;
    float: left;
    width: 300px;
    margin: 0;
    padding: 0;

    .slick-list {
        margin: 0;
    }
    .item {
        position: relative;
        padding: 10px 0px 10px 0;
        margin: 0px 0px 30px;
        //width: 300px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        @include transition(all);
        
        .icon {
            margin-bottom: 20px;
            margin-left: 23px;
            height: 237px;
            width: 237px;
            position: relative;
            border-radius: 50%;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        .text {
            font-weight: 700;
            font-size: 100px;
            line-height: 115px;
            position: relative;
            overflow: hidden;
        }
    }
}
.description_slider {
    margin: 0 0 0 45%;
    padding: 20px 0 0 27px;
    position: static;

    .slick-list {
        margin: 0;
    }

    .slick-arrow {
        &:before {
            border-color: #fff;
        }
    }
    .item {
        position: relative;
        box-sizing: border-box;
        @include transition(all);
        
        .icon {
            margin-bottom: 30px;
            height: 170px;
        }
        .text {
            margin-bottom: 33px;
            min-height: 145px;
        }
    }
}

@media screen and (max-width: 1700px) {
    #our_work {
        background-position: 30% top;
    }
    
}
@media screen and (max-width: 1300px) {
    #our_work {
        background-position: 20% top;
    }
}

@media screen and (max-width: 1030px) {
    #our_work {
        background-position: 15% top;
        background-size: auto 100%;
        //margin-bottom: 50px;
        .page_width {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    .numbers_slider .item {
        text-align: center;
        .icon {
            margin-left: 0px;
            height: 180px;
            width: 180px;
            display: inline-block;
        }
        .text {
            font-size: 80px;
            line-height: 95px;
        }
    }
    .description_slider {
        margin: 0 0 0px 35%;
        padding: 0 0 50px;
    }
}

@media screen and (max-width: 800px) {
    .numbers_slider {
        width: 200px;
        .item {
            .icon {
                height: 130px;
                width: 130px;
            }
            .text {
                font-size: 50px;
                line-height: 60px;
            }
        }
    }
    .description_slider {
        .item {
            .text {
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    #our_work {
        background-position: 35% top;
        background-size: auto 100%;
        //margin-bottom: 30px;
        .page_width {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .numbers_slider {
        float: none;
    }
    .description_slider {
        margin-left: 0;
        padding-bottom: 0;
        .item {
            .text {
                margin-bottom: 10px;
            }
        }

        .slick-arrow {
            top: 180px
        }
        .slick-prev {
            left: auto;
            right: 60px;
            margin-left: -49px;
        }
        .slick-next {
            right: 10px;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 450px) {

}

/* end our_work styles */