/* start services styles */ 

#partners {
    .page_width {
        padding-top: 104px;
        padding-bottom: 42px;
        //text-align: center;
    }
}

.partners_slider {
    margin-bottom: 50px;

    .slick-list {
        margin: 0 -20px;
        padding: 0 !important;
    }

    .slick-arrow {
        top: -63px;
        left: auto;
        margin: 0;
        height: 20px;

        &::before {
            width: 16px;
            height: 16px;
            top: 3px;
        }
    }

    .slick-prev {
        right: 87px;
    }
    .slick-next {
        right: 53px;
    }

    .item {
        height: 90px;
        margin: 0 20px 10px;
        line-height: 90px;
        text-align: center;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        @include transition(all);

        img {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            max-width: 250px;
            max-height: 90px;
            object-fit: contain;
        }

        &:hover, &.slick-current {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }
}


// @media screen and (min-width: 1030px) {
    
// }

// @media screen and (max-width: 1600px) {
    
// }

// @media screen and (max-width: 1300px) {
    
// }
@media screen and (max-width: 1030px) {
    #partners {
        .page_width {
            padding-top: 50px;
            padding-bottom: 1px;
        }
    }
}
@media screen and (max-width: 800px) {
    .partners_slider {
        .slick-arrow {
            top: -40px;
        }
        .slick-prev {
            right: 34px;
        }
        .slick-next {
            right: 0px;
        }
    }
}

@media screen and (max-width: 600px) {
    #partners {
        .page_width {
            padding-top: 30px;
        }
    }
    .partners_slider {
        margin-bottom: 30px;
    }
}

// @media screen and (max-width: 450px) {
    
// }

/* end partners styles */