/* start projects styles */ 

#projects {
    padding-bottom: 100px;
    background: #F8F8F8;
    .page_width {
        padding-top: 105px;

        &::before {
            content: '';
            position: absolute;
            width: 209px;
            height: 209px;
            bottom: 20px;
            right: 15px;
            background: repeating-linear-gradient(-45deg, #77CA00, #77CA00 4px, transparent 0px, transparent 18px);
        }
    }

    .buttons {
        padding-bottom: 0;

        .button {
            margin-bottom: 0;
        }
    }
}
.projects_container {
    margin: 0 -1px 60px;
    overflow: hidden;
    clear: both;
    display: flex;
    justify-content: space-around;
    //padding: 0 0px 30px 0px;
    border-radius: 5px;
    overflow: hidden;
    flex-wrap: wrap;

    .slick-list {
        //padding: 14px 0 10px;
        //margin: 0 -14px;
        overflow: visible;
    }
    .item {
        position: relative;
        //padding: 0px 0px 10px 0px;
        //margin: 0px 0px 30px;
        width: 33.333%;
        height: 400px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        //opacity: 0;
        overflow: hidden;
        @include transition(all);

        a {
            display: block;
            width: 100%;
            height: 100%;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: radial-gradient(64.37% 64.37% at 50% 35.63%, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.21) 0.01%, rgba(0, 0, 0, 0.7) 100%);
                @include transition(all);
            }
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            //opacity: 0.3;
        }
        .text {
            position: absolute;
            top: 40px;
            left: 12%;
            width: 80%;
            max-width: 270px;
            color: #fff;
            font-weight: 500;
            @include transition(all);
        }
        .more {
            position: absolute;
            left: 12%;
            bottom: 37px;
            font-weight: 500;
            color: #fff;
            letter-spacing: 0.03em;
            @include transition(all);

            &::after {
                content: "";
                display: inline-block;
                margin-left: 10px;
                font-size: 21px;
                width: 40px;
                height: 10px;
                position: relative;
                
                filter: brightness(0.5) contrast(300%) invert(1);
                background: url(images/arrow.svg) no-repeat right center;
            }
        }

        &:hover {
            a::before {
                opacity: 0;
            }

            .text {
                top: -100%;
            }

            .more {
                bottom: -50px;
            }
        }
    }

}
.project_page {
    &:after {
		@include clear();
    }
}
.project_images {
    float: left;
    width: 49%;
    margin: 0 0 14px;
    padding: 0;

.main_slider {
    margin: 0 0 20px;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;

    .slick-list {
        margin: 0;
    }

    .slick-arrow {
        height: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(3px);
        width: 69px;

        &::before {
            top: 50%;
            margin-top: -8px;
            border-color: #fff;
        }
    }

    .slick-prev {
        left: 0;
        margin-left: 0;

        &::before {
            left: 26px;
        }
    }
    .slick-next {
        right: 0;
        margin-right: 0;
        &::before {
            right: 26px;
        }
    }

    .item {
        height: 470px;

        a {
            display: block;
            width: 100%;
            height: 100%;

        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.video {
            &::before {
                background-size: 180px 180px;
            }
        }
    }
}

.preview_slider {
    margin: 0;
    padding: 0;
    overflow: hidden;

    .item {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        margin: 0 10px;
        height: 110px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.video {
            &::before {
                background-image: url(images/icon_play_small.svg);
            }
        }
    }
}

}
.video {
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(images/icon_play.svg) no-repeat center / 70px 70px;
        pointer-events: none;
    }
}
.description {
    margin-left: 49%;
    margin-bottom: 14px;
    padding-left: 30px;

    .all_link {
        margin-top: 7px;
        margin-left: 30px;
    }

    h1 {
        margin-bottom: 30px;
    }

    .row, .text {
        position: relative;
        padding: 0px 0 0px 10px;
        overflow: hidden;
        line-height: 24px;
        
        &:before {
            content: '';
            width: 20px;
            height: 20px;
            background-image: url(images/icon_li.svg);
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 6px;
        }
    }

    .row {
        display: flex;
        margin-bottom: 20px;
        strong {
            max-width: 175px;
            min-width: 175px;
        }

        p {
            margin-bottom: 0;
        }
    }
    .text {
        margin-bottom: 39px;
        strong {
            display: block;
            margin-bottom: 10px;
        }
    }
}


// @media screen and (max-width: 1500px) {
    
// }
@media screen and (max-width: 1300px) {
    .projects_container .item {
        height: 300px;
    }
}

@media screen and (max-width: 1030px) {
    #projects {
        padding-bottom: 50px;
        .page_width {
            padding-top: 50px;
            &::before {
                bottom: 60px;
            }
        }
    }
    .projects_container {
        margin-bottom: 40px;
        .item {
            width: 33.333%;
            height: 250px;

            .text {
                top: 25px;
            }

            .more {
                bottom: 22px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    
}
@media screen and (max-width: 600px) {
    #projects {
        padding-bottom: 30px;
        .page_width {
            padding-top: 30px;
            &::before {
                right: 5px;
            }
        }
    }
    .projects_container {
        margin-bottom: 30px;
        .item {
            width: 100%;
            height: 150px;
            .text {
                left: 25px;
            }

            .more {
                left: 25px;
            }
        }
    }
}

@media screen and (max-width: 450px) {

}

/* end projects styles */