.breadcrumbs{
    margin: 0px 0 60px;
    font-size: 14px;
    line-height: 16px;
    li{
        display: inline-block;

        a{
            color: $color_text;
            font-weight: 400;
    
            &::after{
                content: "/";
                margin-left: 4px;
            }
        }
    }
    .active{
        opacity: 40%;
    }
}

//Start Direction//
.directions{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    .item{
        margin: 0 15px 40px;
        width: calc(25% - 30px);
       
        .img{
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            
            a{
                position: relative;
                width: 100%;
                height: 420px;
                border-radius: 5px;
                display: block;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    background-image: radial-gradient(64.37% 64.37% at 50% 35.63%, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.21) 0.01%, rgba(0, 0, 0, 0.7) 100%), url(zakladanie-ogrodow-Gliwice-Slask-4.jpg);
                    @include transition(all);
                }

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    opacity: 100%;
                }
                .more{    
                    position: absolute;
                    left: 50%;
                    margin-left: -70px;
                    bottom: -30px;
                    color: #FFF;
                    @include transition(all);
    
                    &:after{
                        content: "";
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 21px;
                        width: 40px;
                        height: 10px;
                        position: relative;
                        filter: brightness(0.5) contrast(300%) invert(1);
                        background: url(images/arrow.svg) no-repeat right center;
                    }
    
                    
                }

                &:hover{
                    &::before {
                        opacity: 100%;
                    }
                    
                    .more{
                        bottom: 60px;
                    }
                }
            }
        }

        .text{
            background-color: #FFF;
            p{
                margin-top: 20px;
                padding: 0 20px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:1024px){
    .directions .item{
        width: calc( 33% - 30px);
    }
}
@media screen and (max-width:900px){
    .directions .item{
        width: calc( 50% - 30px);
    }
}
@media screen and (max-width:600px){
    .directions .item{
        width:100%;
        margin: 0 0px 40px;
    }
}
//End Direction//

//Start Direction_Ditails//
    .icon_bg{
        position: relative;
        &::after{
            content: '';
            width: 360px;
            height: 360px;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url(images/about_logo.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .text_and_image{
            position: relative;
            z-index: 1;
        }
    }
    .middle{
        text-align: center;
        margin-top: 60px;
    }

    .gallery{
        margin-top: 100px;
    }

    .other_directions{
        margin-top: 100px;
    }
//End Direction_Ditails//

//Start Contact// 
    .contacts{
        position: relative;
        width: 57%;
        float: right;
        margin-top: 30px;

        &::before {
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            bottom: 0px;
            left: -110px;
            background: repeating-linear-gradient(-45deg, #EFEFEF, #EFEFEF 4px, transparent 0px, transparent 18px);
        }
        &::after{
            content: '';
            width: 230px;
            height: 225px;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url(images/about_logo.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        h2{
            padding: 0 0 30px 20px;
            position: relative;
            z-index: 1;
        }
        .foo_bottom{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 1;
        }
        .cont{
            margin: 0px 20px 30px;
            a, p.address{
                color: $color_text;
                &:before{
                    filter: none;
                }
            }

            &:nth-child(4){
                width: 400px;
            }
        }
        .social{
            margin: 0px 20px 30px;
        }
    }

    iframe{
        width: 100%;
        height: 650px;
        margin: 60px 0px 100px;
        margin-bottom: 60px 0 100px;
    }

.min_forms{
    position: absolute;
    width: 490px;
    padding: 40px 60px 60px;
    border-radius: 5px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6);

    color: #FFF;

    p{
        padding-bottom: 20px;
    }

    .textarea {
        margin-left: 10px;

        textarea{
            height: 90px;
        }
    }

    .input_text {
        width: calc(100% - 20px);
        float: none;
    }

    input[type=checkbox]:not(checked) + label {
        margin-bottom: 40px;
    }

    label a{
        color: #FFF;
    }

    .input_file {
        margin-right: 20px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .input_personal_info{
        padding-top: 0px;
    }

    .buttons{
        float: none;
        text-align: center;
    }
}

.margin_bottom{
    margin-bottom: 100px;
}

@media screen and (max-width:1610px){
    .contacts{
        width: 55%;

        &::before{
            left: -60px;
        }
    }
}
@media screen and (max-width:1350px){
    .min_forms{
        width: 420px;
    }
}
@media screen and (max-width:1200px){
    .contacts{

        &::before{
            left: -30px;
        }
        &::after{
            width: 200px;
            height: 195px;
        }
    }
}
@media screen and (max-width:1100px){
    .contacts{
        width: 45%;
        &::before{
            bottom: 0px;
        }
        &::after{
            width: 150px;
            height: 145px;
        }
    }
}
@media screen and (max-width:910px){
    .contacts_block{
        display: flex;
        flex-wrap: wrap;
    }
    .min_forms{
        position: static;
        width: 100%;
        padding-right: 100px;
        padding-left: 100px;
        order: 2;
    }
    .contacts{
        order: 1;
        width: 100%;
        margin-bottom: 20px;
        &::before{
            bottom: 10px;
        }
    }

    iframe{
        margin-top: -300px;
    }
}
@media screen and (max-width:768px){
    .min_forms{
        padding-right: 60px;
        padding-left: 60px;
    }
}
@media screen and (max-width:607px){
    .contacts{
        &::before{
            height: 290px;
        }
    }
}
@media screen and (max-width:500px){
    .contacts{
        &::before{
            height: 350px;
            bottom: 5px;
        }
    }
    .min_forms{
        padding-right: 30px;
        padding-left: 30px;
    }
}
//End Contact//